@tailwind base;
@import './fonts.css';
@import "./toggle.css";
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background: url(/assets/images/right.svg) no-repeat right top;
  }

  .btn-tilt {
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,1.2)));
  }

  .ext-btn {
    @apply rounded-md border border-fetcch-mustard bg-transparent px-6 py-3 text-sm lg:text-lg font-semibold text-fetcch-mustard transition-all duration-300 ease-in-out hover:bg-fetcch-mustard hover:text-white hover:shadow-lg hover:shadow-fetcch-mustard/50 
  }

  .custom-bg {
    background: url(/assets/images/left.svg) no-repeat left bottom;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }

  .form-radio:focus {
    @apply outline-none;
    box-shadow: none !important;
  }
  
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  
}
